@model IEnumerable<QuotationApp.Web.Models.QuotationIndexVm>
@using GridMvc.Html
@{
    
    ViewBag.Title = "Index";
    
}

<h2>Quotation List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(col => col.Id);
               columns.Add(col => col.CustomerName).Titled("Customer");
               columns.Add(col => col.CustomerReference).Titled("Customer");
               columns.Add(col => col.CreatedBy).Titled("Created By");
               columns.Add(col => col.CreateDate).Titled("Created");
               columns.Add(col => col.Status);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", "Quotation", new { id = o.Id }, null));
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "Quotation", new { id = o.Id }, null));
           }).Filterable().Sortable(true).WithPaging(ViewBag.PageSize)

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
@section scripts{
    <script src="~/Scripts/gridmvc.min.js"></script>  
}
@section styles{
  
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />  
}